{% include "ga/header.html" %}

<body class="gray-bg">
	<div class="wrapper wrapper-content  animated fadeInRight">
		<div class="row">
			<div class="col-sm-4">
				<div class="ibox">
					<div class="ibox-content">
						<h2>分流服务器下载检测</h2>
						<div class="input-group">
							<select id='sltchoice' class="form-control m-b" name="account">
                            <option value="1">安装包检测</option>
                            <option value="2">瑞星产品版本检测</option>
                         </select>

							<span class="input-group-btn">
                                        <button type="button" class="btn btn btn-primary" onclick="GetArgs()"> <i class="fa fa-search"></i>检测</button>
                                </span>
						</div>
						<div class="clients-list">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i>添加IP</a>
								</li>
								<li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i>预设分组</a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="tab-1" class="tab-pane active">
									<div class="full-height-scroll">
										<div class="table-responsive">
											<textarea id='txtip' class="form-control" rows="20"></textarea>
										</div>
									</div>
								</div>
								<div id="tab-2" class="tab-pane">
									<div class="full-height-scroll">
										<div class="table-responsive">
											功能正在开发中
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="ibox ">

					<div class="ibox-content">
						<div class="tab-content">
							<div id="contact-1" class="tab-pane active">
								<div class="row m-b-lg" id='hlan'>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "hplus-js.html" %}

	<script>
	function GetArgs(){
		var mip=$("#txtip").val();
    	var args=$("#sltchoice").val();
    	var url="/ga/DownloadCheck/api?c="+args;
    	$.post(url,{ip:mip},
    	        function(data,status){  
    	            $("#hlan").html(data)
    	            }   
    	        );
    	
    };	
		$(function() {
			$(".full-height-scroll").slimScroll({
				height: "100%"
			});		
		});
	</script>
</body>

</html>